@model IEnumerable<TechInterview_GithubDashboard.Models.EventModel>
@{
    ViewBag.Title = "GitHub Dashboard";
}

<head>
    <link rel="stylesheet" type="text/css" href="/Content/Custom.css">
</head>

<body>
    <div class="jumbotron">
        <div id="subtitle">
            Your Public Events Feed
            <button onclick="location.href='@Url.Action("Index", "Home")'"><img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-refresh-128.png" /></button>
        </div>
        <div id="eventList">
            @foreach (var item in Model)
            {
                <div id="event">
                    <img src="@item.Actor.AvatarURL" />
                    <span id="username">@item.Actor.DisplayLogin</span> <br />
                    <div id="eventText">
                        <span class="bold">Event Type:</span> @item.EventType <br />
                        <span class="bold">Repository:</span> @item.Repo.Name <br />
                        <a class="showDetails">[+] Show event details</a>
                        <a class="hide hideDetails">[-] Hide event details</a>
                        <div class="hide details">
                            Created At: @item.Created <br />
                            Event ID: @item.ID <br />
                            Public: @item.Public <br />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.showDetails').click(function () {
                $(this).addClass('hide');
                $(this).siblings('.hideDetails').removeClass('hide');
                $(this).siblings('.details').removeClass('hide');
            });
            $('.hideDetails').click(function () {
                $(this).addClass('hide');
                $(this).siblings('.details').addClass('hide');
                $(this).siblings('.showDetails').removeClass('hide');
            });
        });
    </script>
}